<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RiceGrow"
        tools:targetApi="31">
        <activity
            android:name=".Activity.Calculating.PesticideCalculating.PesticideCalculate"
            android:exported="false" />
        <activity
            android:name=".Activity.Knowledge.Management.DeficienciesToxicities.DeftoxActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Knowledge.Management.DeficienciesToxicities.ListDeftox"
            android:exported="false" />
        <activity
            android:name=".Activity.Calculating.FertilizerCalculating.ViewFerCalculate"
            android:exported="false" />
        <activity
            android:name=".Activity.Calculating.FertilizerCalculating.FertilizerCalculate"
            android:exported="false"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.Knowledge.StageActivity.Stage.StageActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Knowledge.StageActivity.Stage.ListStage"
            android:exported="false" />
        <activity
            android:name=".Activity.Knowledge.StageActivity.Activity.FarmingActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Knowledge.StageActivity.Activity.ListActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Knowledge.Management.Weed.WeedActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Knowledge.Management.Pest.PestActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Knowledge.Management.Disease.DiseaseActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Knowledge.Management.Crop.CropActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Knowledge.PesticideFertilizer.Fertilizer.FertilizerActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Knowledge.PesticideFertilizer.Pesticide.PesticideActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Knowledge.Management.Weed.ListWeed"
            android:exported="false" />
        <activity
            android:name=".Activity.Knowledge.Management.Disease.ListDisease"
            android:exported="false" />
        <activity
            android:name=".Activity.Knowledge.Management.Pest.ListPest"
            android:exported="false" />
        <activity
            android:name=".Activity.Knowledge.Management.Crop.ListCrop"
            android:exported="false" />
        <activity
            android:name=".Activity.Knowledge.PesticideFertilizer.Fertilizer.ListFertilizer"
            android:exported="false" />
        <activity
            android:name=".Activity.Knowledge.PesticideFertilizer.Pesticide.ListPesticide"
            android:exported="false" />
        <activity
            android:name=".Activity.Authenticate.LoginNormal.ForgotActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.Authenticate.LoginNormal.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Authenticate.LoginNormal.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.Main.MainActivity"
            android:exported="true" />
    </application>

</manifest>