<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name="com.hunter.ricegrow.Activity.Notification.RiceGrow"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RiceGrow"
        tools:targetApi="31">
        <activity
            android:name="com.hunter.ricegrow.Activity.Planning.Plan.EditPlan"
            android:exported="false" />
        <activity
            android:name="com.hunter.ricegrow.Activity.ChatBot.ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.hunter.ricegrow.Activity.Setting.WebsiteActivity"
            android:exported="false" />
        <activity
            android:name="com.hunter.ricegrow.Activity.Start.IntroActivity"
            android:exported="false" />
        <activity
            android:name="com.hunter.ricegrow.Activity.Start.StartActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hunter.ricegrow.Activity.Setting.SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hunter.ricegrow.Activity.Main.Weather.WeatherActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hunter.ricegrow.Activity.Main.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hunter.ricegrow.Activity.Planning.Calendar.WeekView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hunter.ricegrow.Activity.Planning.Calendar.MainCalendar"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hunter.ricegrow.Activity.Planning.Plan.ViewPlan"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hunter.ricegrow.Activity.Planning.Plan.PlanGenerate"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hunter.ricegrow.Activity.Calculating.PesticideCalculating.SelectPesticide"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hunter.ricegrow.Activity.Calculating.PesticideCalculating.PesticideCalculate"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hunter.ricegrow.Activity.Knowledge.Management.DeficienciesToxicities.DeftoxActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hunter.ricegrow.Activity.Knowledge.Management.DeficienciesToxicities.ListDeftox"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hunter.ricegrow.Activity.Calculating.FertilizerCalculating.ViewFerCalculate"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hunter.ricegrow.Activity.Calculating.FertilizerCalculating.FertilizerCalculate"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name="com.hunter.ricegrow.Activity.Knowledge.StageActivity.Stage.StageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hunter.ricegrow.Activity.Knowledge.StageActivity.Stage.ListStage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hunter.ricegrow.Activity.Knowledge.StageActivity.Activity.FarmingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hunter.ricegrow.Activity.Knowledge.StageActivity.Activity.ListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hunter.ricegrow.Activity.Knowledge.Management.Weed.WeedActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hunter.ricegrow.Activity.Knowledge.Management.Pest.PestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hunter.ricegrow.Activity.Knowledge.Management.Disease.DiseaseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hunter.ricegrow.Activity.Knowledge.Management.Crop.CropActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hunter.ricegrow.Activity.Knowledge.PesticideFertilizer.Fertilizer.FertilizerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hunter.ricegrow.Activity.Knowledge.PesticideFertilizer.Pesticide.PesticideActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hunter.ricegrow.Activity.Knowledge.Management.Weed.ListWeed"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hunter.ricegrow.Activity.Knowledge.Management.Disease.ListDisease"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hunter.ricegrow.Activity.Knowledge.Management.Pest.ListPest"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hunter.ricegrow.Activity.Knowledge.Management.Crop.ListCrop"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hunter.ricegrow.Activity.Knowledge.PesticideFertilizer.Fertilizer.ListFertilizer"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hunter.ricegrow.Activity.Knowledge.PesticideFertilizer.Pesticide.ListPesticide"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hunter.ricegrow.Activity.Main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <receiver android:name="com.hunter.ricegrow.Activity.Notification.AlarmReceiver" />

        <service android:name="com.hunter.ricegrow.Activity.Notification.NotificationService" />
    </application>

</manifest>